@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>*@

<div class="row">
    <div class="col-md-6">
        <h2>Verenigingen</h2>
        <p>Hier krijg je de mogelijkheid om :</p>
        <ul>
            <li>een lijst van vereniging te bekijken,</li>
            <li>een nieuwe vereniging toe te voegen,</li>
            <li>...</li>
        </ul>
        <p><a class="btn btn-default" href="~/Vereniging/Vereniging">Ga verder &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Kassa's</h2>
        <p>Hier krijg je de mogelijkheid om :</p>
        <ul>
            <li>een lijst van kassa's te bekijken,</li>
            <li>een nieuwe kassa toe te voegen,</li>
            <li>een vereniging toe te kennen aan de kassa,</li>
            <li>...</li>
        </ul>
        <p><a class="btn btn-default" href="~/Views/Kassa/Kassa">Ga verder &raquo;</a></p>
    </div>
</div>